.user {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &__photo {
        border-radius: 50%;
        margin-bottom: 8px;
    }

    &__name {
        font-family: 'Proxima Nova Semibold';
        font-weight: 600;
        margin-bottom: 8px;
    }
}