.sidebar {
    background-color: #bae182;
    width: 288px;
    margin-right: 20px;
    padding: 20px;

    &__item {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: #141414;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: border-color 0.3s;

        &:hover {
            border-color: #425627;
        }

        &.active {
            color: rosybrown;

            &:hover {
                border-color: transparent;
            }
        }
    }
}